body {
  /* width: 100%; */
  /* overflow-x: hidden; */
}

.l-main {
  margin: 0 auto;
  width: 960px;
  padding: 0 19px;
  border: 1px solid gray;
  border-top: 0;
  border-bottom: 0;
  min-height: 800px;
  background-image: url('/img/background.jpg?4');
  background-position: top center;
  background-repeat: no-repeat;
}

.l-header {
  padding-top: 20px;
}

.header-logo {
  float: left;
}

.b-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
  width: 590px;
}

.b-menu li {
  float: left;
  margin-left: 30px;
  font-family: "Avenir Next" Arial;
  font-weight: bold;
  color: #5e5e5e;
}

.header-hr {
  border: 0;
  height: 1px;
  background-image: url('/img/hr.png?4');
  background-repeat: repeat-x;
  width: 790px;
}
